Repository Liquescent-Development/log-correlator, changes with the owners that .github/CODEOWNERS names for each.
All owners: @liquescent/maintainers, @liquescent/core-team, @liquescent/parser-team, @liquescent/adapters-team, @liquescent/docs-team, @liquescent/devops-team, @liquescent/security-team

fix: correct Graylog v6 API request structure and error handling
  README.md
  docs/API.md
  docs/TROUBLESHOOTING.md
  packages/adapters/graylog/README.md
  packages/adapters/graylog/src/graylog-adapter.ts
  packages/examples/basic-correlation.js
  packages/examples/electron-integration.js
Owners: @liquescent/docs-team, @liquescent/adapters-team, @liquescent/maintainers

style: Apply Prettier formatting to pass CI checks
  .github/ISSUE_TEMPLATE/config.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/publish.yml
  .github/workflows/stale.yml
  docs/API.md
  docs/TROUBLESHOOTING.md
  packages/adapters/graylog/README.md
  packages/adapters/graylog/src/graylog-adapter.ts
Owners: @liquescent/devops-team, @liquescent/docs-team, @liquescent/adapters-team

fix: Correct Graylog v6 API request structure (#26)
  .github/ISSUE_TEMPLATE/config.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/publish.yml
  .github/workflows/stale.yml
  README.md
  docs/API.md
  docs/TROUBLESHOOTING.md
  packages/adapters/graylog/README.md
  packages/adapters/graylog/src/graylog-adapter.ts
  packages/examples/basic-correlation.js
  packages/examples/electron-integration.js
Owners: @liquescent/devops-team, @liquescent/docs-team, @liquescent/adapters-team, @liquescent/maintainers

chore: bump version to 0.0.6
  package-lock.json
  packages/adapters/graylog/package.json
  packages/adapters/loki/package.json
  packages/adapters/promql/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/query-parser/package.json
Owners: @liquescent/maintainers

chore: bump version to 0.0.6 (#27)
  package-lock.json
  packages/adapters/graylog/package.json
  packages/adapters/loki/package.json
  packages/adapters/promql/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/query-parser/package.json
Owners: @liquescent/maintainers

feat: Add stream name support to Graylog adapter
  packages/adapters/graylog/README.md
  packages/adapters/graylog/src/graylog-adapter.ts
Owners: @liquescent/docs-team, @liquescent/adapters-team

fix: correct integration tests and graylog adapter for stream support
  .devcontainer/Dockerfile
  .devcontainer/create-limited-git-setup.sh
  .devcontainer/devcontainer.json
  .devcontainer/init-firewall.sh
  .devcontainer/liquescent.omp.json
  .devcontainer/setup-direnv.sh
  .devcontainer/setup-git.sh
  .gitignore
  CHANGELOG.md
  PUBLISHING.md
  README.md
  RELEASE_CHECKLIST.md
  package.json
  packages/adapters/graylog/.env.example
  packages/adapters/graylog/.gitignore
  packages/adapters/graylog/README.md
  packages/adapters/graylog/jest.config.js
  packages/adapters/graylog/package.json
  packages/adapters/graylog/src/graylog-adapter.test.ts
  packages/adapters/graylog/src/graylog-adapter.ts
  packages/adapters/graylog/test/integration/correlation-example.test.ts
  packages/adapters/graylog/test/integration/graylog.config.js
  packages/adapters/graylog/test/integration/graylog.integration.test.ts
  packages/core/src/correlation-engine.ts
  packages/core/src/performance-monitor.ts
  packages/query-parser/GRAYLOG_SYNTAX.md
  packages/query-parser/README.md
  packages/query-parser/grammar/LogQL.g4
  packages/query-parser/grammar/logql.peggy
  packages/query-parser/src/generated/parser.js
  scripts/bump-version.js
Owners: @liquescent/maintainers, @liquescent/docs-team, @liquescent/adapters-team, @liquescent/core-team, @liquescent/parser-team

style: apply Prettier formatting to fix CI checks
  .devcontainer/devcontainer.json
  README.md
  packages/adapters/graylog/README.md
  packages/adapters/graylog/src/graylog-adapter.test.ts
  packages/adapters/graylog/src/graylog-adapter.ts
  packages/adapters/graylog/test/integration/correlation-example.test.ts
  packages/adapters/graylog/test/integration/graylog.config.js
  packages/adapters/graylog/test/integration/graylog.integration.test.ts
  packages/core/src/correlation-engine.ts
  packages/core/src/performance-monitor.ts
  packages/query-parser/GRAYLOG_SYNTAX.md
  packages/query-parser/README.md
  scripts/bump-version.js
Owners: @liquescent/maintainers, @liquescent/docs-team, @liquescent/adapters-team, @liquescent/core-team

fix: remove sensitive stream IDs from log output to address CodeQL security issues
  packages/adapters/graylog/src/graylog-adapter.ts
Owners: @liquescent/adapters-team

chore: Add devcontainer configuration to workspace
  .devcontainer/.env.example
  .devcontainer/.gitignore
  .devcontainer/Dockerfile
  .devcontainer/allowed-domains.txt.example
  .devcontainer/create-limited-git-setup.sh
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/init-firewall.sh
  .devcontainer/liquescent.omp.json
  .devcontainer/setup-direnv.sh
  .devcontainer/setup-git.sh
Owners: @liquescent/maintainers

.github/CODEOWNERS:

# Code Owners for log-correlator
# These owners will be the default owners for everything in the repo.

# Global owners
* @liquescent/maintainers

# Core package
/packages/core/ @liquescent/core-team

# Query parser
/packages/query-parser/ @liquescent/parser-team

# Adapters
/packages/adapters/loki/ @liquescent/adapters-team
/packages/adapters/graylog/ @liquescent/adapters-team

# Documentation
/docs/ @liquescent/docs-team
*.md @liquescent/docs-team

# CI/CD and tooling
/.github/ @liquescent/devops-team
/tools/ @liquescent/devops-team

# Security-sensitive files
/.github/SECURITY.md @liquescent/security-team
/packages/core/src/auth/ @liquescent/security-team
/packages/adapters/*/src/auth/ @liquescent/security-team

# Package configuration
package.json @liquescent/maintainers
package-lock.json @liquescent/maintainers
tsconfig.json @liquescent/maintainers
.eslintrc.json @liquescent/maintainers
