Repository Liquescent-Development/log-correlator, changes with the owners that .github/CODEOWNERS names for each.
All owners: @liquescent/maintainers, @liquescent/core-team, @liquescent/parser-team, @liquescent/adapters-team, @liquescent/docs-team, @liquescent/devops-team, @liquescent/security-team

.github/CODEOWNERS:

# Code Owners for log-correlator
# These owners will be the default owners for everything in the repo.

# Global owners
* @liquescent/maintainers

# Core package
/packages/core/ @liquescent/core-team

# Query parser
/packages/query-parser/ @liquescent/parser-team

# Adapters
/packages/adapters/loki/ @liquescent/adapters-team
/packages/adapters/graylog/ @liquescent/adapters-team

# Documentation
/docs/ @liquescent/docs-team
*.md @liquescent/docs-team

# CI/CD and tooling
/.github/ @liquescent/devops-team
/tools/ @liquescent/devops-team

# Security-sensitive files
/.github/SECURITY.md @liquescent/security-team
/packages/core/src/auth/ @liquescent/security-team
/packages/adapters/*/src/auth/ @liquescent/security-team

# Package configuration
package.json @liquescent/maintainers
package-lock.json @liquescent/maintainers
tsconfig.json @liquescent/maintainers
.eslintrc.json @liquescent/maintainers

fix: Correct license from Apache-2.0 to AGPL-3.0
  README.md
  packages/adapters/graylog/package.json
  packages/adapters/loki/package.json
  packages/adapters/promql/package.json
  packages/core/package.json
  packages/query-parser/package.json
Owners: @liquescent/docs-team, @liquescent/maintainers

feat: Prepare for initial 0.0.1 release
  PUBLISHING.md
  README.md
  package.json
  packages/adapters/graylog/package.json
  packages/adapters/loki/package.json
  packages/adapters/promql/package.json
  packages/core/package.json
  packages/query-parser/package.json
Owners: @liquescent/docs-team, @liquescent/maintainers

feat: Add automated npm publishing via GitHub Actions
  .github/workflows/publish.yml
  PUBLISHING.md
  RELEASE_CHECKLIST.md
  package.json
  scripts/bump-version.js
Owners: @liquescent/devops-team, @liquescent/docs-team, @liquescent/maintainers

fix: Correct license from Apache-2.0 to AGPL-3.0 (#12)
  README.md
  packages/adapters/graylog/package.json
  packages/adapters/loki/package.json
  packages/adapters/promql/package.json
  packages/core/package.json
  packages/query-parser/package.json
Owners: @liquescent/docs-team, @liquescent/maintainers

fix: Use file references for local development
  .github/workflows/publish.yml
  package-lock.json
  packages/adapters/graylog/package.json
  packages/adapters/loki/package.json
  packages/adapters/promql/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/query-parser/package.json
  scripts/bump-version.js
Owners: @liquescent/devops-team, @liquescent/maintainers

fix: Resolve ESLint errors in bump-version script
  scripts/bump-version.js
Owners: @liquescent/maintainers

style: Apply Prettier formatting to new files
  PUBLISHING.md
  RELEASE_CHECKLIST.md
  scripts/bump-version.js
Owners: @liquescent/docs-team, @liquescent/maintainers

feat: Prepare for initial 0.0.1 release with automated publishing (#13)
  .github/workflows/publish.yml
  PUBLISHING.md
  README.md
  RELEASE_CHECKLIST.md
  package-lock.json
  package.json
  packages/adapters/graylog/package.json
  packages/adapters/loki/package.json
  packages/adapters/promql/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/query-parser/package.json
  scripts/bump-version.js
Owners: @liquescent/devops-team, @liquescent/docs-team, @liquescent/maintainers

fix: Update publish workflow to handle file references correctly
  .github/workflows/publish.yml
Owners: @liquescent/devops-team

fix: update npm publish workflow to handle file references
  .github/workflows/publish.yml
Owners: @liquescent/devops-team

chore: bump version to 0.0.2
  package-lock.json
  packages/adapters/graylog/package.json
  packages/adapters/loki/package.json
  packages/adapters/promql/package.json
  packages/core/package.json
  packages/query-parser/package.json
Owners: @liquescent/maintainers

fix: include examples package in version bump script
  packages/examples/package.json
  scripts/bump-version.js
Owners: @liquescent/maintainers

fix: include examples package in version bump script
  packages/examples/package.json
  scripts/bump-version.js
Owners: @liquescent/maintainers

fix: use cd to navigate to temp directories for npm publish
  .github/workflows/publish.yml
Owners: @liquescent/devops-team

fix: use cd to navigate to temp directories for npm publish
  .github/workflows/publish.yml
Owners: @liquescent/devops-team

fix: improve publish workflow error handling and GitHub release creation
  .github/workflows/publish.yml
Owners: @liquescent/devops-team

fix: improve publish workflow error handling
  .github/workflows/publish.yml
Owners: @liquescent/devops-team

fix: skip tests during publish and configure npm scope
  .github/workflows/publish.yml
Owners: @liquescent/devops-team

fix: skip tests during publish and configure npm scope (#18)
  .github/workflows/publish.yml
Owners: @liquescent/devops-team

fix: remove duplicate release.yml workflow
  .github/workflows/release.yml
Owners: @liquescent/devops-team

fix: grant write permissions for GitHub release creation
  .github/workflows/publish.yml
Owners: @liquescent/devops-team

fix: resolve release workflow issues
  .github/workflows/publish.yml
  .github/workflows/release.yml
Owners: @liquescent/devops-team

fix: resolve release workflow issues (#21)
  .github/workflows/publish.yml
  .github/workflows/release.yml
Owners: @liquescent/devops-team

fix: handle existing GitHub releases gracefully
  .github/workflows/publish.yml
Owners: @liquescent/devops-team

fix: handle existing GitHub releases gracefully (#22)
  .github/workflows/publish.yml
Owners: @liquescent/devops-team

fix: correct event counting in benchmark scenarios
  tools/benchmark.js
Owners: @liquescent/devops-team

feat: Add Graylog 6.x API support with configurable version selection
  README.md
  packages/adapters/graylog/README.md
  packages/adapters/graylog/src/graylog-adapter.test.ts
  packages/adapters/graylog/src/graylog-adapter.ts
  tools/benchmark.js
Owners: @liquescent/docs-team, @liquescent/adapters-team, @liquescent/devops-team

fix: resolve linter error in benchmark.js
  tools/benchmark.js
Owners: @liquescent/devops-team

style: apply Prettier formatting
  packages/adapters/graylog/README.md
  packages/adapters/graylog/src/graylog-adapter.test.ts
  packages/adapters/graylog/src/graylog-adapter.ts
  tools/benchmark.js
Owners: @liquescent/docs-team, @liquescent/adapters-team, @liquescent/devops-team

fix: correct event counting in benchmark scenarios (#23)
  README.md
  packages/adapters/graylog/README.md
  packages/adapters/graylog/src/graylog-adapter.test.ts
  packages/adapters/graylog/src/graylog-adapter.ts
  tools/benchmark.js
Owners: @liquescent/docs-team, @liquescent/adapters-team, @liquescent/devops-team

docs: add Graylog 6.x example and update gitignore
  .gitignore
  CLAUDE.md
  README.md
Owners: @liquescent/maintainers, @liquescent/docs-team

docs: improve documentation and update gitignore
  .gitignore
  CLAUDE.md
  README.md
Owners: @liquescent/maintainers, @liquescent/docs-team

docs: improve documentation and update gitignore (#24)
  .gitignore
  CLAUDE.md
  README.md
Owners: @liquescent/maintainers, @liquescent/docs-team

chore: bump version to 0.0.3
  package-lock.json
  packages/adapters/graylog/package.json
  packages/adapters/loki/package.json
  packages/adapters/promql/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/query-parser/package.json
Owners: @liquescent/maintainers

feat: add SOCKS4/SOCKS5 proxy support to all adapters
  README.md
  package-lock.json
  packages/adapters/graylog/package.json
  packages/adapters/graylog/src/graylog-adapter.ts
  packages/adapters/loki/package.json
  packages/adapters/loki/src/loki-adapter.test.ts
  packages/adapters/loki/src/loki-adapter.ts
  packages/adapters/promql/package.json
  packages/adapters/promql/src/promql-adapter.ts
Owners: @liquescent/docs-team, @liquescent/maintainers, @liquescent/adapters-team

feat: add SOCKS4/SOCKS5 proxy support to all adapters (#25)
  README.md
  package-lock.json
  packages/adapters/graylog/package.json
  packages/adapters/graylog/src/graylog-adapter.ts
  packages/adapters/loki/package.json
  packages/adapters/loki/src/loki-adapter.test.ts
  packages/adapters/loki/src/loki-adapter.ts
  packages/adapters/promql/package.json
  packages/adapters/promql/src/promql-adapter.ts
Owners: @liquescent/docs-team, @liquescent/maintainers, @liquescent/adapters-team

chore: bump version to 0.0.4
  package-lock.json
  packages/adapters/graylog/package.json
  packages/adapters/loki/package.json
  packages/adapters/promql/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/query-parser/package.json
Owners: @liquescent/maintainers

docs: add SOCKS proxy documentation to Graylog adapter README
  packages/adapters/graylog/README.md
Owners: @liquescent/docs-team

fix: include generated parser in npm package
  package-lock.json
  packages/adapters/graylog/package.json
  packages/adapters/loki/package.json
  packages/adapters/promql/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/query-parser/package.json
  packages/query-parser/src/peggy-parser.ts
Owners: @liquescent/maintainers, @liquescent/parser-team

style: apply Prettier formatting to fix CI checks
  packages/adapters/graylog/README.md
  packages/query-parser/src/peggy-parser.ts
Owners: @liquescent/docs-team, @liquescent/parser-team
